{% extends 'base_user.html' %}

{% load static %}

{% block css %}
        <link rel="stylesheet" href="{% static 'cours/css/style_prof/style_create_groupe.css' %}">
{% endblock %}
{% block content %}

    <h3>Hello Mamadou Saidou</h3>

<h2>Voici la liste des etudiants: Nbre total {{ longueur }}</h2>

<div id="mes_users">
    {% for item in mes_user %}
        <p>{{ item }}</p>
    {% endfor %}
</div>

<p id="exam"></p>

<p id="nbre"></p>
<p id="titre"></p>
<div id="etudiant">
    <p>1-Mamadou</p>
    <p>2-Diallo</p>
</div>

<form method="POST" id="mon_formulaire">
        {% csrf_token %}
        <input type="text" placeholder="Entrez Le nombre delement" name="name" id="name">
        <input type="text" placeholder="Le nombre de groupe" name="nb_chap" id="nb_chap" min="2">
        <hr>
        {% for valeur in recap %}
            <div>
                <label>{{ valeur }}</label>
                <input type="checkbox" value="{{ valeur }}" name="{{ valeur }}">
            </div>
        {% endfor %}
        <input type="submit" value="soumettre">
</form>



<script type="text/javascript">
    console.log("hello world");

$(document).ready(function(){
    $("#mon_formulaire").on("submit", function(e){
        e.preventDefault();
        var form_data = $(this).serialize();
    $.ajax({

    type: "POST",
    url: "{% url 'cours:create_group' %}",

    data: form_data,
    success: function(response){
        console.log(response.saidou);

        $("#mes_users").empty();
        $("#nbre").html(response.error);

        $("#nbre").html(response.attention);
        $("#nbre").html(response.error_nbre);
        $("#mes_users").empty();
        $("#name").val("");
        $("#nb_chap").val("");

        if(response.contenu){
            $("#nbre").html(response.contenu);
            window.location.href = response.mon_url;
        };
        $("#exam").html(response.exam);

    }

    })

    })

})
</script>
{% endblock %}