{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Cours</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'cours/first_style.css' %}">
</head>
<body>
    <h3>Hello mamadou saidou</h3>

    <div class="programme">
        {% for item in element %}
        <p><a href="{% url 'cours:module' ids=item.identifiant %}">{{ item.name }}</a></p>
        {% endfor %}
    </div>
</body>
</html>