@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Space Mono", sans-serif;
    font-size: 30px;
    display: grid;
    place-items: center;
    height: 20rem;
    background: #060b23;
    box-sizing: border-box;
    min-width: 200px;
    color: white;
    cursor: pointer;
}
