@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Space Mono', sans-serif;
    font-size: 25px;

}

.titre {
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    color: red;
}

input[type="number"]{
    width: 150px;
    border: none;
    border-bottom: 2px solid blue;
    cursor: text;
    outline: none;
    background-color: none;
}