<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Title</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

</head>
<body>

    <h3>Page d'authentification</h3>

    <form method="POST">
        {% csrf_token %}
        <input type="email" name="email" id="email">
        <label for="email">Email</label>
        {{ email }}
        <div class="">
            <input type="password" name="password" id="password">
            <label for="password">Mot de Passe</label>
            {{ password }}
        </div>
        <input type="submit" value="soumettre">
    </form>
</body>
</html>