{% extends 'base.html' %}
{% load static %}

{% block rep %}
    {% for item in necessaire %}
        <li><a class="dropdown-item" href="#">{{ item }}</a></li>
    {% endfor %}
{% endblock %}

{% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'cours/first_style.css' %}">
{% endblock %}

{% block content %}
        <h3 class="text-center">Vos matière dans lesquel vous êtes inscrits</h3>
        {% for item in image %}
                <p><a href="{% url 'cours:chapitre' ids=item.identifiant %}">{{ item.name }}</a></p>
                <img src="{{ item.image_module.url }}" width="500px">
        {% endfor %}

        {% for item in not_image %}
            <p><a href="{% url 'cours:chapitre' ids=item.identifiant %}">{{ item.name }}</a></p>
         {% endfor %}
{% endblock %}