{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Vue general</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'cours/first_style.css' %}">
</head>
<body>

<h3>Votre vue personnaliser</h3>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>

        <li class="nav-item dropdown me-3">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            tâches
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
             {# Pour le professeur #}
            {% for item in facultatif %}
                  <li><a class="dropdown-item" href="#">{{ item }}</a></li>
            {% endfor %}

            {% for item in  obligatoires %}
                    <li><a class="dropdown-item" href="#">{{ item }}</a></li>
            {% endfor %}

            {% for item in obligation %}
                  <li><a class="dropdown-item" href="#">{{ item }}</a></li>
            {% endfor %}
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item ms-5">
          <a class="nav-link" href="{% url 'user:deconnexion' %}" tabindex="-1" aria-disabled="true">Deconnexion</a>
        </li>
        {% endif %}
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

    </div>
  </div>
</nav>

    <div class="container-fluid">

        {% for key, value in dico.items %}
         <p><strong>{{ key }}</strong></p>

        <form method="POST">
        <table class="table table-dark">

            <thead>
                <tr>
                    <th>Email</th>
                    <th>Note</th>
                </tr>
            </thead>
            {% for item in value %}
            <tbody>

                <tr>
                    <td>{{ item }}</td>


                    {% with  sortir_boucle=False %} <!--Pour sortir de la boucle svte si l'element est trouvé -->
                    {% for k, v in dico1.items %} <!--j\'itere sur mon dict qui contient mes notes -->
                        {% if key == k %} <!--je verifie si l'element de mon dico des notes appartient aux etudiants du prof -->
                                {% for it in v %} <!--Puis là j'itere sur la table des notes avec la clé -->
                                    {% for vals in it %} <!--Je verifie pour chaque element de mon sous dico etudiant: note -->

                                            {% if vals == item %} <!--Là je regarde si la clé du dico est l'etudiant concerné -->
                                                {% with sortir_boucle=True %} <!--Pour sortir de cette grande boucle -->
                                                    {% for ke, ve in it.items %} <!-- Jitere sur mon dic -->
                                                    <td><input type="number" value="{{ ve }}"></td> <!-- Puis j'affiche ma note de sorti -->
                                                    {% endfor %}
                                                {% endwith %}
                                            {% endif %}
                                     {% endfor %}
                                {% endfor %}
                        {% endif %}
                    {% endfor %}
                    {% endwith %}
                    <td><input type="number"></td>
                </tr>

            </tbody>
            {% endfor %}

        </table>
        </form>
        <hr>
        {% endfor %}

    </div>
</body>
</html>